{% load i18n %}
<details data-filter-title="{{ title }}" open>
    <summary>{% blocktranslate with filter_title=title %}By {{ filter_title }}{% endblocktranslate %}</summary>
    <select onchange="window.location.href = this.value;" style="max-width: 200px;">
        {% for choice in choices %}
            <option value="{{ choice.query_string|iriencode }}" {% if choice.selected %}selected{% endif %}>
                {{ choice.display }}
            </option>
        {% endfor %}
    </select>
</details>